/* Poppins, Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}


.body--main-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.header--main-container {
    /* background-color: aqua; */
    box-shadow: 0px 5px 10px 0px #82828249;;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2rem 0 2rem 0;
}

.header--logo {
    /* background-color: blue; */
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #4CC9F0;
    grid-column: 1;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
}

.header--menus {
    /* background-color: yellow; */
    font-family: 'Poppins', sans-serif;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.header--menus a {
    padding: 0 3% 0 3%;
    cursor: pointer;
}

.header--menus a:hover {
    color: #4CC9F0;
}

nav a {
    display: flex;
    align-items: center;
}

.home--main-container, .about-me--main-container,
.toolkit--main-container, .projects--main-container,
.certifications--main-container, .contact--main-container {
    grid-column: 2;
    margin: 15% 0 15% 0;
    font-family: 'Poppins', sans-serif;
}

.about-me--main-container {
    margin-bottom: 5%;
}

.home--title {
    font-size: 45px;
}

.home--title span {
    font-size: 55px;
    font-weight: 600;
    color: #4CC9F0;
}

.home--sub-title {
    margin-top: 0.3rem;
    font-size: 30px;
}

.home--sub-title:last-child {
    margin-top: 3rem;
}

.decoration--header-line {
    border-bottom: 1px solid #4CC9F0;
    width: 100%;
    margin-top: 1.95rem;
    z-index: -1;
}

.decoration-header {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #4CC9F0;
    font-weight: 500;
    padding-right: 3rem;
}

.decoration-header, .decoration--header-line {
    position: absolute; 
}

.decoration-header-container {
    position: relative;
}

.about-me--sub-container {
    margin-top: 7rem;
    font-size: 23px;
    display: flex;
}

.about-me--desc {
    margin-top: 3rem;
    line-height: 2.2rem;
    /* background-color: red; */
}

.about-me--me-img {
    margin-top: -10rem;
    height: 20rem;
    padding: 3rem;
    padding-top: 10rem;
}

.about-me--img-container {
    /* background-color: green; */
}

.toolkit--sub-container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.toolkit--box-container {
    /* border: 2px solid salmon; */
    box-shadow: 0 0 10px #c3c3c38e;
    border-radius: 16px;
    margin: 0rem 12px 1rem 0rem;
}

.toolkit--pl {
    height: 4rem;
    padding: 1rem;
}

.toolkit--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 2rem;
}

.toolkit--title {

}

.toolkit--title p {
    display: inline;
    font-size: 24px;
    background-color: #4CC9F0;
    color: white;
    padding: 0.45rem;
    border-radius: 10px;
    font-weight: 600;
}


.toolkit--group {
    margin-top: 2.5rem;
    padding: 1rem;
}

.certifications--sub-container {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.certifications--box {
    border: 1px solid #4CC9F0;
    padding: 1rem 4rem 1rem 1rem;
    margin: 0 0.5% 1% 0.5%;
    border-radius: 10px;
    flex: 0 0 calc(20% - 4%);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.certifications--certificate {
    font-size: 14px;
    font-weight: 500;
}

.certifications--organization {
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.certifications--box a {
    color: black;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

.certifications--box a:hover {
    color: #4CC9F0;
}