/* Poppins, Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.body--main-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}


/* HEADER */

.header--main-container {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #82828249;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 2rem 0 2rem 0;
    z-index: 10;
}

.header--logo {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #4CC9F0;
    grid-column: 1;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
}

.header--menus {
    /* background-color: yellow; */
    font-family: 'Poppins', sans-serif;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}

.header--menus a {
    padding: 0 3% 0 3%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header--menus a:hover {
    color: #4CC9F0;
}

nav a {
    display: flex;
    align-items: center;
}



/* SECTIONS */

.home--main-container {
    grid-column: 2;
    margin: 25% 0 15% 0;
    font-family: 'Poppins', sans-serif;
}

.about-me--main-container,
.toolkit--main-container, .projects--main-container,
.certifications--main-container, .contact--main-container {
    grid-column: 2;
    margin: 15% 0 15% 0;
    font-family: 'Poppins', sans-serif;
}

.decoration--header-line {
    border-bottom: 1px solid #4CC9F0;
    width: 100%;
    margin-top: 1.95rem;
    z-index: -1;
}

.decoration-header {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #4CC9F0;
    font-weight: 500;
    padding-right: 3rem;
}

.decoration-header, .decoration--header-line {
    position: absolute; 
}

.decoration-header-container {
    position: relative;
}

.nav--tags {
    grid-column: 2;
}

.overlay-effect {
    position: relative;
    display: inline-block;
}

.overlay-effect::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    width: 65%;
    height: 88%;
    border-radius: 5px;
    background-color: rgba(76, 201, 240, 0.5);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(.53,.17,.34,.86);
}

.overlay-effect-l {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
}

.overlay-effect-l::before {
    content: "";
    position: absolute;
    top: 3rem;
    bottom: 0; 
    left: 35%;
    width: 65%;
    height: 89%;
    border-radius: 5px;
    background-color: rgba(76, 201, 240, 0.5);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.53, 0.17, 0.34, 0.86);
}


/* ABOOUT ME SECTION */

.about-me--main-container {
    margin-bottom: 5%;
}

.about-me--sub-container {
    margin-top: 7rem;
    font-size: 23px;
    display: flex;
}

.about-me--desc {
    margin-top: 3rem;
    line-height: 2.2rem;
    /* background-color: red; */
}

.about-me--me-img {
    margin-top: -10rem;
    height: 20rem;
    padding: 3rem;
    padding-top: 10rem;
}



/* HOME SECTION */

.home--title {
    font-size: 45px;
}

.home--title span {
    font-size: 55px;
    font-weight: 600;
    color: #4CC9F0;
}

.home--sub-title {
    margin-top: 0.3rem;
    font-size: 30px;
}

.home--sub-last {
    margin-top: 3rem;
    font-size: 26px;
}


.home--btn-container {
    display: flex;
    align-items: center;
    border: 3px solid black;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 14px;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 2.5rem;
}

.home--btn-container-first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 14px;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 2.5rem;
    background-color: #4CC9F0;
    border: 3px solid #4CC9F0;
    color: white;
}

.home--btn-container i, .home--btn-container-first i {
    margin-right: 8px;
}

.home--btn-group {
    display: flex;
    margin-top: -1rem;
}

.home--btn-group a {
    text-decoration: none;
    color: inherit;
}

.home--btn-container:hover, .home--btn-container-first:hover {
    margin-top: 2rem;
    -webkit-appearance: none; /* for safari */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* CERTIFICATIONS SECTION */

.certifications--sub-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.certifications--box {
    border: 1px solid #4CC9F0;
    padding: 1rem 4rem 1rem 1rem;
    margin: 0 0.5% 1% 0.5%;
    border-radius: 10px;
    flex: 0 0 calc(20% - 4%);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.certifications--certificate {
    font-size: 14px;
    font-weight: 500;
}

.certifications--organization {
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.certifications--box a {
    text-decoration: none;
    color: inherit;
    margin-top: auto;
    margin-bottom: 0.5rem;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.certifications--box a i {
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in;
}

.certifications--box a:hover i {
    transform: translateX(16px);
}

.certification--link i {
    margin-left: 0.5rem;
}

.certification--link:hover {
    color: #4CC9F0;
}

.certification--title {
    font-size: 32px;
    font-weight: 600;
    position: relative;
}

.certification--highlight {
    position: relative;
}

.certification--highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #4ccaf04e;
    border-radius: 0 0 16px 16px;
    z-index: -1;
}

.certification--box-container {
    margin-top: 3rem;
}

.certification--outer {
    margin-top: 7rem;
}



/* CONTACT SECTION */

.contact--sub-container {
    margin-top: 7rem;
}

.contact--msg {
    font-size: 40px;
}

.contact--desc {
    margin-top: 1rem;
    font-size: 28px;
    font-weight: 400;
}

.contact--desc a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #4CC9F0;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 12px;
}


/* FOOTER SECTION */

footer {
    grid-column: 2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 16px;
    color: gray;
}



/* PROJECTS SECITON */

.projects--sub-container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: 6rem;
}

.project--box {
    position: relative;
    width: 95%;
    -webkit-appearance: none; /* for safari */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    
    overflow: hidden;
    margin-bottom: 2rem;
    transition: all 1.2s ease;
}

.project--img {
    width: 130%;
    margin-left: -4rem;
    transition: all 1.2s ease;
}

.project--box:hover .project--img {
    transform: scale(1.4) translateX(34px);
}


.project--title {
    position: absolute;
    top: 12%;
    left: 8%;
    z-index: 2;
    color: white;
    background-color: #4CC9F0;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 0.2rem 0.7rem;
    font-weight: 500;
}

.project--box i {
    position: absolute;
    top: 90%;
    left: 8%;
    z-index: 2;
    transition: top 0.3s ease, color 0.3s ease;
}

.project--box i:hover {    
    top: 87%;
    color: #4CC9F0;
}

.project--box a, .project--featured-links div a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.project--featured-links div a:hover {
    color: #4CC9F0;
}

.project--tools {
    position: absolute;
    top: 87%;
    left: 17%;
    font-weight: 300;
    z-index: 2;
}

.project--featured {
    margin-top: 6rem;
}

.project--featured-box {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.project--featured-box:hover .overlay-effect::before, .project--featured-box-l:hover .overlay-effect-l::before {
    opacity: 0;
}

.project--featured-contents {
    position: absolute;
    align-items: end;
    display: flex;
    flex-direction: column;
    top: 20%;
    z-index: 4;
}

.project--featured-contents-l {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    z-index: 3;
}

.project--featured-desc {
    width: 50%;
    background-color: #ffffff;
    border: 2px solid #4CC9F0;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
}

.project--featured-title {
    color: #4CC9F0;
    font-size: 16px;
    font-weight: 300;
}

.project--featured-skill, .project--featured-links, .project--featured-skill-l  {
    display: flex;
}

.project--featured-links {
    padding-top: 15px;
}

.project--featured-skill div {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 300;
}

.project--featured-skill-l div {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: 300;
}

.project--featured-name {
    font-size: 32px;
    font-weight: 600;
}

.project--featured-container img {
    position: relative;
    width: 65%; 
    height: auto; 
    max-height: 25rem; 
    margin-top: 3rem;
    border-radius: 5px;
}

.project--featured-box .project--featured-container-l img {
    width: 65%; 
    height: auto; 
    max-height: 25rem; 
    margin-top: 3rem;
    border-radius: 5px;
}

.project--featured-container {
    display: flex;
    flex-direction: column;
}

.project--featured-box-l {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: end;
    margin-bottom: 2rem;
}

.project---collecttion-title {
    font-size: 32px;
    font-weight: 600;
    position: relative;
}

.project--highlight {
    position: relative;
}

.project--highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #4ccaf04e;
    border-radius: 0 0 16px 16px;
    z-index: -1;
}

.project--section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 5rem 0;
}


/* TOOLKIT SECTION */

.tk--sub-container {
    margin-top: 5rem;
}

.tk--box-group {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tk--box-container {
    border: 1px solid #4CC9F0;
    box-shadow: 0 0 10px #c3c3c38e;
    border-radius: 16px;
    margin: 0rem 12px 1rem 0rem;
}

.tk--pl {
    height: 3.5rem;
    padding: 1rem;
}

.tk--tools-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.tk--title {
    font-size: 32px;
    font-weight: 600;
    position: relative;
}

.tk--title::before {
    content: "";
    position: absolute;
    top: 40%; 
    left: -2rem;
    width: 120%;
    height: 1.5rem; 
    background-color: #4ccaf04e;
    border-radius: 0 0 16px 16px;
}

.tk--desc {
    font-weight: 300;
}

.tk-words {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tk--border {
    /* border: 1px solid #4CC9F0; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;  */
    /* border-radius: 12px; */
}


/* SIDE LINKS */

.side--main-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    right: 0px;
    margin: 0 4rem 0 0;
    cursor: pointer;
}

.side--group a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in;
}

.side--group a:hover {
    color: #4CC9F0;
}

.side--group i {
    margin-bottom: 2.3rem;
}

.side--vertical-line {
    height: 7rem;
    width: 3px;
    border-radius: 1px;
    background-color: #4ccaf08f;
}

.side--group {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* DARK MODE */

.dark-mode {
    background-color: #011029;
    color: #f5f5f5;

    /* HEADER */
    .header--main-container {
        background-color: #011029;
        color: #f5f5f5; ;
        box-shadow: 0px 2px 10px 0px #c3c3c38e;;
    }

    /* HOME SECTION */
    .home--btn-container {
        border: 3px solid #f5f5f5;
    }

    /* ABOUT ME SECTION */
    .decoration-header-container, .decoration-header {
        background-color: #011029;
    }

    /* PROJECT SECTION */
    .project--box {
        box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, rgba(255, 255, 255, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    
    }

    .project--featured-desc {
        background-color: #011029;
        border: 2px solid #4CC9F0;
        border-radius: 5px;
        padding: 20px;
        font-size: 18px;
    }    

    /* TOOLKIT SECTION */
    .tk--box-container {
        /* background-color: #f5f5f5; */
    }

    /* FOOTER SECTION */
    .footer--footer {
        color: #cdcdcd;
    }
}


/* TRANSITION */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.hiddenTool {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.showTool {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.tk--tools-group .tk--box-container:nth-child(2) {
    transition-delay: 200ms;
}

.tk--tools-group .tk--box-container:nth-child(3) {
    transition-delay: 300ms;
}

.tk--tools-group .tk--box-container:nth-child(4) {
    transition-delay: 400ms;
}

.tk--tools-group .tk--box-container:nth-child(5) {
    transition-delay: 500ms;
}

.tk--tools-group .tk--box-container:nth-child(6) {
    transition-delay: 600ms;
}

.tk--tools-group .tk--box-container:nth-child(7) {
    transition-delay: 700ms;
}


/* RESPONSIVENESS */

/* Phone */
@media screen and (min-width: 320px) {
    
}
  
/* Tablet */
@media screen and (max-width: 789px) {

    /* HEADER SECTION */
    .header--main-container, .header--main-container a {
        font-size: 14px;
    }

   
}   
  
/* Small Screen */
@media screen and (max-width: 883px) {

    /* SIDE LINKS */
    .side--main-container {
        display: none;
    }

     /* PROJECT SECTION */
     .projects--main-container {
        font-size: 12px;
    }
}
  
/* Large Screen */
@media screen and (max-width: 1025px) {
    
    /* ABOUT ME SECTION */
    .about-me--img-container {
        display: none;
    }

    /* PROJECTS SECTION */
    .project--featured-container {
        display: none;
    }
}